{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": [
    "airbnb-base",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "globals": {
    "Env": "readonly"
  },
  "rules": {
    "prettier/prettier": ["warn", { "endOfLine": "auto" }],
    "import/extensions": "off",
    "import/no-unresolved": "off",
    "global-require": "off",
    "no-param-reassign": ["error", { "props": false }],
    "no-console": "off"
  }
}
